* {
  margin: 0;
  padding: 0;
}

#game-wrapper {
  background: url(../images/background.jpg);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

form {
  padding: 5px;
}

input {
  color: blanchedalmond;
}

input:focus {
  outline: none;
  background-color: blanchedalmond;
  color: black;
}

h1 {
  display: block;
  min-width: 100%;
  text-align: center;
}

#giphyDiv {
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
}

#clearButtons,
#clearButtons button {
  text-align: center;
}

#gifs {
  padding: 50px;
  text-align: center;
  float: left;
  min-width: 70%;
  max-width: 70%;
}

#aside {
  float: right;
  min-width: 20%;
  max-width: 20%;
}

.image {
  padding: 20px;
}

#text {
  font-size: 36px;
  mix-blend-mode: difference;
}
